//---------------- COLOR PALETTE

//---BRAND
$brand-primary: #213ed7;
$brand-secondary: #6b2bd6;
$brand-wht: #ffffff;
$brand-blk: #050506;

//---BLUES
$blue-400: #566de8;
$blue-700: #00014e;
$blue-900: #09032f;

//---TEXT
$txt-wht: $brand-wht;
$txt-blk: $brand-blk;

//---BACKGROUNDS
$bg-main: #ecf0f8;

// BORDERS
$bdr-100: #ededed;
$bdr-200: #e9e9e9;

//---GRAYSCALE
$g-100: #fafafa;
$g-200: #e0e0e0;
$g-300: #cccccc;
$g-400: #adadad;
$g-500: #999999;
$g-600: #666666;
$g-700: #525252;
$g-800: #3d3d3d;
$g-900: #292929;
$g-1000: #0a0a0a;
